<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # GitBook Redirect
  RewriteRule ^docs$ https://adore.gitbook.io/docs [R=301,L]
  RewriteRule ^docs/(.*)$ https://adore.gitbook.io/docs/$1 [R=301,L]

  # SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
