<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # GitBook Proxy
  # mod_proxy is disabled on your server, so we must use a Redirect instead.
  # This will change the URL in the browser to the GitBook site.
  RewriteRule ^docs$ https://proxy.gitbook.site/sites/site_RHK6F/ [R=301,L]
  RewriteRule ^docs/(.*)$ https://proxy.gitbook.site/sites/site_RHK6F/$1 [R=301,L]

  # SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
